
# Pakku
pakku.jar
build/
.pakku/staging/

# .minecraft
mods/**
resourcepacks/**
saves/**
screenshots/**
server-resource-packs/**
shaderpacks/**
texturepacks/**
logs/**
crash-reports/**
customnpcs/**
coretweaks/**
falsepattern/**
fonts/**
llibrary/**
mputils/**
stall-reports/**
Xaero*/**

*.log
*.dat
*.dll

icon.png
TF2SentryTargetlist.txt
TimeUsage.txt
usernamecache.json
startup.nps
stencil3.png
stencil2.png
stencil1.png
render_player_api_Enhancer_classnames.txt
render_player_api_Enhancer_classnamepatterns.txt
1213309934
ds_private_storage.json
