# Configuration file

general {
    # Prevents mobs from attacking / targeting players [server] [default: false]
    B:apatheticMobs=false

    # Fixes line breaks in chat not rendering properly, but breaks certain formatting in fixed chat messages [client] [default: false]
    B:chatLinebreakFix=false

    # Makes double doors open simultaneously [server] [default: true]
    B:doubleDoors=true

    # Allows climbing ladders by jumping (incompat with slideClimbing) [client] [default: true]
    B:jumpClimbing=true

    # Players keep their experience level / points on death [server] [default: false]
    B:keepXP=false

    # Grant the "Getting Wood" achievement for any log, including modded [server] [default: true]
    B:mineWoodFix=true

    # Fixes the "NNBSP" character in DateFormat outputs in Java 20+, as in the singleplayer world selection menu [client] [default: true]
    B:nnbspFix=true

    # Prevents trampling farmland (completely) [server] [default: false]
    B:noTrample=false

    # Allows clearing text fields by right-clicking them [client] [default: true]
    B:rmbClear=true

    # Allows traversing ladders by looking up or down (incompat with jumpClimbing) [client] [default: false]
    B:slideClimbing=false

    # Sorts enchantments in item tooltips (alphabetically) [client] [default: true]
    B:sortedEnchantments=true

    # Prevents "Too Expensive!" from appearing in vanilla anvils, allowing very expensive enchanting or repairing [both] [default: false]
    B:tooExpensive=false

    # Shows the harvest level (tier) of a tool in its tooltip when holding SHIFT [client-ish] [default: false]
    B:tooltipTier=false
}


