# Configuration file

"client specific" {
    B:"[C0A496BA2] Console Loading Info"=true
    B:"[C0A496BA2_abfee1]U Console Loading Info"=true
    B:"[C15F32665] Custom/Donator Renders"=true
    B:"[C15F32665_abfee1]U Custom/Donator Renders"=true
    B:"[D8202F1AD] Debug Mode"=false
    B:"[D8202F1AD_abfee1]U Debug Mode"=false
    B:"[D82E7537C] Disable Renders For Debug"=false
    B:"[D82E7537C_abfee1]U Disable Renders For Debug"=false
    B:"[D9F76DF1E] Disable rain sound and particles"=false
    B:"[D9F76DF1E_abfee1]U Disable rain sound and particles"=false
    B:"[DA3716AD6] Disable Hotbar Swapping"=false
    B:"[DA3716AD6_abfee1]U Disable Hotbar Swapping"=false
    I:"[DBCBD37D5] Debug Overlay Key (LWJGL ID)"=15
    I:"[DBCBD37D5_abfee1]U Debug Overlay Key (LWJGL ID)"=15
    B:"[E3635188F] Enable Temporally Dependent Amusement Behavior"=true
    B:"[E3635188F_abfee1]U Enable Temporally Dependent Amusement Behavior"=true
    B:"[I0656DD9A] Increase sound channel count"=true
    B:"[I0656DD9A_abfee1]U Increase sound channel count"=true
    B:"[LA3390497] Log Loading Info To Separate File"=false
    B:"[LA3390497_abfee1]U Log Loading Info To Separate File"=false
    B:"[LCF232699] Log errors to chat"=true
    B:"[LCF232699_abfee1]U Log errors to chat"=true
    I:"[PC66FB501] Particle Limit (Vanilla = 4000)"=4000
    I:"[PC66FB501_abfee1]U Particle Limit (Vanilla = 4000)"=4000
    B:"[S8D02BB81] Show TileEntity NBT when using Debug Key"=false
    B:"[S8D02BB81_abfee1]U Show TileEntity NBT when using Debug Key"=false
    S:"[SBDDF877C] Setting Warning Persistence (EVERYLOAD/SETTINGCHANGE/VERSION/ONCE)"=SETTINGCHANGE
    S:"[SBDDF877C_abfee1]U Setting Warning Persistence (EVERYLOAD/SETTINGCHANGE/VERSION/ONCE)"=SETTINGCHANGE
    B:"[SC05DDBC5] Sort Creative Tabs Alphabetically"=true
    B:"[SC05DDBC5_abfee1]U Sort Creative Tabs Alphabetically"=true
}


"control setup" {
    I:"Sync Packet ID"=182
    B:"Restore Obsidian Blast Resistance"=true
    B:"Only show update notice to Ops or SSP"=false
    B:"Force Gregtech Ore Compatibility"=true
    B:"Log Sync Packet CME Avoidance"=true
    B:"Slow Sync Packets - Only use this as a last resort"=false
    I:"Minimum Delay (ms) for 'Can't Keep Up!' Log Warning"=0
    B:"Check Environment Sanity"=false
    B:"Attempt to Repair Environment Sanity"=false
    B:"Admins Bypass Permissions"=true
    B:"Use HashMap for Sound Categories - Only use if necessary"=false
    B:"Compare mod file hashes between client and server"=true
    B:"Direct OpenComputers Support"=false
    B:"Merge XP Orbs Like Items"=true
    B:"Extra Block Ticks When Raining"=true
    B:"Prevent Mobs From Targeting Players Immediately After Logging In"=true
    B:"Biome Humidity Dependent Fire Spread"=true
    B:"Restrict profiling abilities to admins"=true
    S:"Bytecodeexec command user UUID whitelist" <
     >
    S:"Automatic Collection of Inventories; set to 'NULL' to disable"=LCTRL
    I:"AFK Timer Threshold (Seconds); Set to 0 to Disable"=120
    B:"Reroute Ender Eyes to Stronghold Entrances"=false
    I:"Expected Approximate Maximum World Size (Radius)"=5000
    I:"Expected Approximate World Center Location X"=0
    I:"Expected Approximate World Center Location Z"=0
    B:"Bytecodeexec command notifies other admins"=false
    B:"Player-Specific Mob Caps"=false
    B:"Allow charged certus to be recognized as normal certus ore"=false
    B:"Prevent block spreading near unloaded chunks"=true
    B:"Make bonemeal generate biome-correct foliage instead of tall grass"=true
    I:"Version Change Warning Level (0 = None, 1 = ReikaMods only, 2 = All)"=0
}


